*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    /* padding: 1rem 2rem; */
    padding: 1.5rem 0;
    background-color: black;
    color: white;
}

header nav{
    max-width: 97vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 2.5rem;
    font-weight: 600;
}

.left a img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: .6rem;
}
.center{
    font-weight: 800;
    font-size: 3rem;
}

.right{
    font-size: 2rem;
    cursor: pointer;
}

section{
    background-color: #fcdc00;
    padding: 2rem 1rem;
}

.project{
    margin : 1rem 0;
    cursor: pointer;
    padding: .5rem 1rem;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background-color: rgba(255, 255, 255, 0.6);
}

.project:hover{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.04);
}
.pro-img{
    max-width: 400px;
}

.pro-img img{
    width: 100%;
    height: 100%;
}

.pro-name h1{
    font-size: 4rem;
    
}

.pro-btn{
    padding: .5rem 1rem;
    background-color: black;
    transition: .5s;
}

.pro-btn a{
    color: white;
    text-decoration: none;
}
.pro-btn:hover{
    background-color: white;
}
.pro-btn:hover a{
    color: black;
}
